<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a><a class="time">{{created_at}}</a><a class="Author-name" style="text-align:right;"> by:{{user.username}}</a>
    {{!-- <span>({{post_content}})</span> --}}
  <div class="content">
    <h3>{{post_content}}</h3>
  </div>
  <div class="meta">
    {{!-- {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}} --}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>